*{
    /* margin: 0 !important; */
    /* padding: 0; */
    font-family: 'Poppins', sans-serif;
}
:root{
    --celeste: #00a7c7;
    --arena: #ffd87d;
    --marron: #8f7d75;
    --negro: #000002; 
    --naranja: #e76f3d;
}

/* Productos */

    /* Header */

    header{
        padding: 0 !important; 
    }

    .m-head{
        background-image: url(../images/header.png);
        background-size: auto 15rem ;
        background-repeat: no-repeat;
        height:15rem;
        background-position-x:center ;
        background-position-y:-00px ;
        background-attachment: fixed;
    }


    h1{
        font-size: 16px;
        padding-top: 50px;
        text-align: center;
        font-weight: bold;
    }

    .d-head{
        background-image: url(../images/header.png);
        background-size: 1920px auto;
        background-repeat: no-repeat;
        height: 35rem;
        background-position-x:center ;
        background-position-y:0px ;
        background-attachment: fixed;
        background-color: rgb(184, 184, 184);
    }

    /* navbar */

    .navbar{
        background-color: var(--celeste) !important;
        /* height: 8vh; */
        /* padding: 0 !important; */
    }

    .navbar a{
        color: white;
        font-weight: 550;
        font-size: 100%;
        margin: 0 60px;
    
    }

    .centrar{
        /* display: flex !important;
        flex-direction: row !important; */
        justify-content: space-evenly !important;
    }
    .navbar div ul{
        justify-content: center !important;
    }

    nav a:hover{
        text-shadow: 0  0   5px var(--negro);
        color: var(--arena) !important;
    }

    .fa-solid{
        color: white;
        /* line-height: 2px; */
    }

        /* contenido productos */


        #contenidoProductos{
            background-image: linear-gradient(220deg, var(--arena), var(--naranja));
        }

         img{
            box-shadow: 0 0 20px black;
            border-radius: 10px;
        }

            /* cuadros */

            .fondoNaranja{
                background-color: var(--naranja);
            }

/* Diseños */

    /* galeria */

    #galeria{
        background-image: linear-gradient(135deg, var(--naranja), var(--marron));
    }


     /* footer */

     footer{
        background-image: linear-gradient(to bottom, var(--arena) 90%, var(--marron) 10%);
        height: 7vw;
        font-size: 2vw;
        color: white;
        text-shadow: 0 0 5px var(--marron);
    }

    footer p{
        font-size: 1vw;
        text-align: end;
    }
    .icono{
        padding: 5px ;
        padding-bottom: 2vw;
    }
    #social a{
        color: white;
    }
    #social a :hover{
        transform: scale(1.3);
        text-shadow: 0 0 10px white;
    }
    #fb :hover{
        color: #1877f2;
    }
    #ig :hover{
        color: #ff00ea;
    }
    #tw :hover{
        color: #5cc6fe;
    }
    #social a :active{
        transform: scale(1);
        text-shadow: 0 0 5px var(--marron);
    }

    /* Nosotros */

    .fondoArena{
        background-image: linear-gradient(140deg, var(--naranja), var(--arena), var(--celeste));
    }

    #espaciador1{
        height: 50vw !important;
        background-image: url(../images/render/31.png);
        background-attachment: fixed;
        background-position-y: -45vw;
        background-size: cover;
        background-repeat: no-repeat;
    }
    

    /* Media queries */

@media (min-width: 580px){
    .m-head{
        background-size: auto 20rem ;
        /* background-position-y: -20px; */
    }
    .m-head h1{
        font-size: 22px;
        line-height: 60px;
        margin-left: 50px;
    }
}

@media (min-width: 992px){
    .m-head{
        background-size: auto 35rem;
        /* background-position-y: -20px; */
    }

     h1{
        font-size: 60px;
        font-weight: bold;
        padding-top: 280px ;
    } 
}

@media (max-width: 575px){
    .carrusel{
        height: 20rem !important;
    }
    .icono{
        padding: 0;
        padding-top: 5px;
    }
    footer{
        font-size: 20px;
        line-height: 22px;
    }
    
}

@media (max-width: 820px){
    .carrusel{
        height: 30rem;
    }
    
    footer{
        height: 11vw;
        font-size: 5vw;
        padding-top: 1vw;
    }

    footer p{
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .icono{
        padding: 1vw ;
        padding-bottom: 3vw;
    }
    #espaciador1{
        background-position-y:0;
        background-position-x: center;
    }
}
@media (max-width: 1023px){
    #f-icon{
        height: 100vw;
    }
    .h50-m{
        height: 50%;
    }
}

@media (max-width: 1200px){
    .carrusel{
        height: 50rem;
    }
    .d-head{
        height: 30rem;
    }
    .carrusel{
        height: 30rem;
    }
}
